
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<div class="card card-body bg-dark">
    <div class="form-group">
        <input class="border-secondary" type="email" name="email-address" placeholder="Email Address"/>
        <input class="border-secondary" type="password" name="password" placeholder="Password"/>
        <button asp-action="Login" type="button" name="Login" class="btn-sm">Login</button>
    </div>

</div>

